body{
	background: url(../images/02.jpg) no-repeat;
	background-color: #DBDBDB;
	min-width: 1200px;
	height: 100%;
	margin: 0;
}
#qiPan{
	position: relative;
	left: 50%;
	margin:50px 0 0 -300px;
}

td{
	width: 50px;
	height:50px;
}
table{
	position: absolute;
	top: 0
}

.active{
	box-shadow: 1px 1px 5px #000;
	border-radius: 50%;

}
.black{
	background: url(../images/qizi/x-0.png) no-repeat;
	background-position: center; 
	background-size: 50px;

}
.btns{
	margin: 0px auto;
}
.btn{
	display: block;
	margin: 10px auto;
	padding: 5px 20px;
	font-size: 16px;
	cursor: pointer;
}